<%- include('../../components/header.ejs') %>

<div class="container">
  <h1 class="text-center mb-4">Restaurantes Participantes</h1>
  <div class="row">
    <% restaurants.forEach(restaurant => { %>
      <div class="col-md-4 mb-4">
        <a href="/list/<%= restaurant.id %>" class="text-decoration-none text-dark">
          <div class="card shadow-sm h-100">
            <% if (restaurant.logo) { %>
              <img src="/images/restaurants/<%= restaurant.id %>.jpg" class="card-img-top" alt="<%= restaurant.name %>">
            <% } else { %>
              <div class="card-img-top bg-light d-flex align-items-center justify-content-center" style="height: 200px;">
                <span class="text-muted">Sin imagen</span>
              </div>
            <% } %>
            <div class="card-body">
              <h5 class="card-title text-center"><%= restaurant.name %></h5>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</div>

<%- include('../../components/footer.ejs') %>
